<h1>Novo Curso</h1>
<%= form_with model: @curso, local: true do |form| %>
  <div>
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>
  <div>
    <%= form.label :descricao %>
    <%= form.text_area :descricao %>
  </div>
  <div>
    <%= form.submit 'Criar Curso' %>
  </div>
<% end %>
<%= link_to 'Voltar', cursos_path %>