<!DOCTYPE html>
<html>
  <head>
    <title>Cursos App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <%= link_to root_path, class: 'logo' do %>
        <%= image_tag "cursosnet.jpeg", class: "logo"  %>
        <% end %>
        <h1>CursosApp</h1>
        <nav>
            <%= link_to "Home", root_path %>
            <%= link_to "Cursos", cursos_path %>
            <%= link_to "Novo Curso", new_curso_path %>
        </nav>
      </header>

      <main class="container" >
        <h1>New branch criada </h1>
        <%= image_tag "cursosnet.jpeg", alt: "Image", class: "image" %>
        <%= yield %>
      </main>

      <footer>
        <p>&copy; <%= Time.now.year %> Cursos App</p>
      </footer>
  </body>
</html>
